body {
    margin:0px;
    font-family: 'Trebuchet MS';
}
ul{
    padding: 0;
}

nav {
    background-color: rgb(63, 63, 63);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px
}
#nav-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 24px;
    font-weight: bold;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

#nav-list>li>a{
    text-decoration: none;
    color: white;
}

h1 {
    margin: 0px;
}

li{
    list-style-type: none;
}

#logout {
    border:none;
    background-color:deepskyblue;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 6px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.user-card{
    width: 700px;
    border-radius: 10px;
    overflow:hidden;
    position: relative;
}

.shadow {
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

#blue-block {
    width: 100%;
    height: 150px;
    background-color: deepskyblue;
}

.main-pfp {
    border-radius: 50%;
    border: 3px white solid;
    height: 150px;
    position: absolute;
    top: 80px;
}

.user-content {
    padding: 50px;
}

h2 {
    padding-top: 30px;
    font-size: 2em;
}

.edit {
    color:rgb(0, 128, 255);
    text-decoration: none;
}

.education {
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.conection-pfp, .request-pfp {
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.connections-container {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.connections-requests > li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.request-pfp {
    border: 2px deepskyblue solid;
    border-radius: 10px;
}

.request-btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    border: 2px palevioletred solid;
    color: palevioletred;
    font-weight: bolder;
    font-size: 16px;
}

.connections > li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.conection-pfp {
    border-radius: 50%;
    border: 1px black solid;
}

h3 {
    
    font-size: 1.5em;
}